# Question 1

In [14]:
import pandas as pd

In [31]:
range1 = list(range(20,10,-2))

In [32]:
range1

[20, 18, 16, 14, 12]

In [30]:
print(range1)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [35]:
import pandas as pd
df = pd.DataFrame({'age':range1})

In [36]:
df

   age
0   20
1   18
2   16
3   14
4   12

In [37]:
df.median()

age    16.0
dtype: float64

In [38]:
df.describe()

             age
count   5.000000
mean   16.000000
std     3.162278
min    12.000000
25%    14.000000
50%    16.000000
75%    18.000000
max    20.000000

In [41]:
df_range = df.max()-df.min()

In [42]:
df_range

age    8
dtype: int64